body {
    margin: 0px;
    text-align: center;
}

#header {
    text-align: right;
    margin-right: 20px;
}

canvas {
    border: 1px solid black;
    margin-bottom: 10px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }